{% extends 'core/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>
            Manage Carriers
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
		  	<li><a href="{% url 'carrier_list' %}">Carriers</a></li>
  			<li><a href="{% url 'carrier_update' carrier.id%}">{{ carrier }}</a></li>
			<li class='active'>Delete</li>      
        </ol>
    </section>
	{% if form.errors %}
      {% for key, value in form.errors.items %}
	   <div class="alert alert-danger alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           {{key}}{{value}} 
    	</div>
      {% endfor %}
    {% endif %}
    <section class="content">
	   {% if not user.is_superuser %}	
	   <div class="error-page">
			<h2 class="headline text-info">403</h2>
			<div class="error-content">
				<h3><i class="fa fa-warning text-yellow"></i> Forbidden Resource.</h3>
				<p>
					You are not authorized to access this resource. 
					Meanwhile, you may <a href="{% url 'home' %}">return to dashboard</a>.
				</p>
			 </div><!-- /.error-content -->
		</div><!-- /.error-page -->

	   {% else %}
		<div class="box box-danger">
			<div class="box-header">
				<h3 class="box-title">Delete Carrier: {{carrier}}</h3>
			</div>
			<form class="form-horizontal" role="form" method="post" action=".">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-sm-offset-1">
						<label class="control-label" for="submit">Are you sure you want to delete carrier "{{ object }}" ?</label><br/>
						Do Note that this will also delete all plans and autorefills using this carrier.
					</div>
				</div>
				<div class="box-footer">
					<div class="col-sm-offset-1">
						<button type="submit" class="btn btn-danger">Delete</button>
						<a href="{% url 'carrier_list' %}" class="btn btn-default">Cancel</a>
					</div>
				</div>					
			</form>
		</div>
   {% endif %}
   	</section>
{% endblock %}
{% block body_js %}
    <script type="text/javascript">
      $(document).ready(function() {
		$('.tooltip-activate').tooltip();
		$('#__cnp').addClass( "active" );
		$('#__cnp ul').css('display', 'block');
		$('#__carrier').addClass( "active" );
      });
    </script>
{% endblock %}
