{% extends 'core/base.html' %}
{% block add_css %}
    <link href="{{ STATIC_URL }}css/selectize.bootstrap3.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/selectize.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/refill.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Manage Unused Pins
            <small></small>
        </h1>
        <ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'unusedpin_list' %}">Unused Pins</a></li>
			<li class='active'>{% if unusedpin %} {{unusedpin}} {% else %} New {% endif %}</li>
        </ol>
    </section>
	<section class="content">
	   {% if unusedpin and unusedpin.company != user.profile.company %}
	   <div class="error-page">
			<h2 class="headline text-info">403</h2>
			<div class="error-content">
				<h3><i class="fa fa-warning text-yellow"></i> Forbidden Resource.</h3>
				<p>
					You are not authorized to access this resource. 
					Meanwhile, you may <a href="{% url 'home' %}">return to dashboard</a>.
				</p>
			 </div><!-- /.error-content -->
		</div><!-- /.error-page -->

	   {% else %}
	   <div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">{% if unusedpin %} Edit Unused Pin: {{unusedpin}} {% else %} Add New Unused Pin{% endif %}</h3>
			</div>
			<div class="box-body">
				<form class="form-horizontal" role="form" method="post" action=".">
				  {% csrf_token %}
				  <div class="form-group">
					<label for="id_carrier" class="col-sm-2 control-label">Carrier</label>
					<div class="col-sm-4">
					  	<select class="form-control" id="id_carrier" name="carrier" required>
					  	</select>
                        {% if plan %}
                        <input id="hidden_carrier" type="hidden" class="form-control" value="{{ plan.carrier.id|default_if_none:"" }}" />
                        {% else %}
                        <input id="hidden_carrier" type="hidden" class="form-control" value="{{ object.plan.carrier.id|default_if_none:"" }}" />
                        {% endif %}
					</div>
				  </div>
				  <div class="form-group">
					<label for="id_plan" class="col-sm-2 control-label">Plan</label>
					<div class="col-sm-4">
					  <select class="form-control plans" id="id_plan" name="plan" required>
						  </select>
					  <input id="hidden_plan" type="hidden" class="form-control" value="{{form.plan.value|default_if_none:"" }}" />
					</div>
				  </div>
				  <div class="form-group">
					<label for="id_pin" class="col-sm-2 control-label">Pre-Paid Pin</label>
					<div class="col-sm-4">
					  <input id="id_pin" name="pin" type="text" class="form-control" value="{{ form.pin.value|default_if_none:"" }}" required/>
					</div>
					  <div class="col-sm-4" id="div_pin_status">
						  <button type="button" id="status_pin" class="btn">Get Pin Status</button>
						  <br><b id="result_status"></b>
					  </div>
				  </div>
				  <div class="form-group {% if form.notes.errors %}has-error{% endif %}">
					<label for="id_notes" class="col-sm-2 control-label">Notes</label>
					<div class="col-sm-4">
					  <textarea
						id="id_notes"
						name="notes"
						rows="4"
						class="form-control tooltip-activate"
						data-toggle="tooltip"
						data-placement="auto"
						title="Enter any  notes here." >{{ form.notes.value|default_if_none:"" }}</textarea>
						<span class="help-block">{{ form.notes.errors }}</span>
					</div>
				  </div>				  
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
					   <div class="checkbox">
						 <label>
						   <input id="id_used" name="used" type="checkbox" {% if form.used.value %}checked{% endif %}> Used
						 </label>
					   </div>
					</div>
				  </div>
				  <div class="form-group">
				<div class="col-sm-offset-2">
					  <button type="submit" class="btn btn-primary">Save</button>
				  {% if unusedpin %}<a href="{% url 'unusedpin_delete' unusedpin.id %}" class="btn btn-danger">Delete</a>{% endif %}
					  <a href="{% url 'unusedpin_list' %}" class="btn btn-default">Cancel</a>
					</div>
				  	</div>
				</form>
			</div>
		</div>
	</section>
   {% endif %}
{% endblock %}
{% block body_js %}
    <script src="{{ STATIC_URL }}js/selectize.js" type="text/javascript"></script>
    <script type="text/javascript">
        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++)
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam)
                {
                    return sParameterName[1];
                }
            }
        }
      $(document).ready(function() {
		  $('#div_pin_status').hide();
            if (getUrlParameter('pin')){
                $('#id_pin').val(getUrlParameter('pin'));
            }
		$('.tooltip-activate').tooltip();
		$('#__pin ul').css('display', 'block');
		$('#__pin').addClass( "active" );
		$('#__unusedpins').addClass( "active" );
		var carrier = $('#id_carrier').selectize({
			  valueField: 'pk',
			  labelField: 'name',
			  searchField: 'name',
			  create: false,
			  render: {
				option: function(item, escape) {
				  return '<div>' +
					'<img src="/static/img/' + escape(item.name_slug) + '.jpg" style="width:36px;" ><span class="title"> ' + escape(item.name) + '</span>' +
				  	'</div>';
				},
			  },
				onChange: function(value){
					if(this.getItem(value)[0].innerHTML.indexOf('RED POCKET') != -1){
						$('#div_pin_status').show();
					}
					else
					{
						$('#div_pin_status').hide();
					}
				}
		});
		var plan = $('#id_plan').selectize({
		  valueField: 'pk',
			  labelField: 'id',
			  searchField: 'id',
			  create: false,
			  render: {
				option: function(item, escape) {
				  return '<div>' +
			  '<span class="title">' +
						'<span class="name">' + escape(item.id) + '</span>' +
					'</span>' +
					'<span class="description">' + escape(item.name) + '</span>' +
			'<ul class="meta">' +
						'<li> Cost: ' + escape(item.cost) + '</li>' +
						'<li> Type: ' + escape(item.type) + '</li>' +
					'</ul>' +
				  '</div>';
				},
			  },
		});
		$.getJSON('/ajax/carriers/', function (data, jqXHR) { 
		  for (var i = 0; i< data.length; i++) {
			carrier[0].selectize.addOption(data[i])
		  }
		  carrier[0].selectize.setValue($('#hidden_carrier').val());
		})
		function updatePlans(selected) {
		  $.getJSON('/ajax/carrier-plans/', { id: selected }, function (data, jqXHR) {
			var selectize = plan[0].selectize;
			selectize.clear();
			selectize.clearOptions();
			selectize.load(function(callback) {
			  callback(data);
			});
			selectize.setValue($('#hidden_plan').val());
		  });
		}
		var $carrier = $('#id_carrier');
		updatePlans($carrier.val());
		$carrier.change(function(){
			  updatePlans($(this).val());
		});
		  $('#status_pin').on('click', function () {
			  if ($('#id_pin').val()) {
				  $(this).html('<img src="{{ STATIC_URL }}img/preloader.gif"/>');
				  $.ajax({
					  type: "GET",
					  url: '{% url "ajax_get_pin_status" %}',
					  data: {
						  pin: $('#id_pin').val(),
						  type: 'SINGLE'
					  },
					  dataType: "json",
					  success: function (data) {
						  if (data['message']) {
							  alert(data['message']);
						  }
						  else {
							  if (data['result']['status']) {
								  $('#result_status').html("Status of pin: " + data['result']['status_pin'] + "   "
										  + data['result']['details'] + " <a target='_blank' href='"
										  + data['result']['url'] + "'>Link</a>");
							  }
							  else {
								  alert('Not active!')
							  }
						  }
					  },
					  complete: function () {
						  $('#status_pin').html('Get Pin Status');
					  },
					  error: function() {
						  alert('Not active!')
					  }
				  });
			  }
			  else{
				  alert("Please fill in the field 'Pre-Paid Pin'!");
			  }
		  });
		  $('#id_pin').on('change', function(){
        	$(this).val($(this).val().replace(/\s/g, ''));
    		});
      });
    </script>
{% endblock %}
