html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 50px;
}

aside{
    z-index: 10000;
}

#search-input{
    width: 210px;
}

#search-input + ul{
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #666666;
}

.container .text-footer {
  color: white;
}

.cform-inline .form-group > div.col-xs-8 {
    padding-left: 0;
    padding-right: 0;
}
.cform-inline label {
    line-height: 34px;
}
.cform-inline .form-control {
    width: 100%;
}

@media (min-width: 768px) {
  .cform-inline .form-group {
    margin-bottom: 15px;
  }
}

.popover {
    max-width: 500px;
}
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive > .table {
  margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
  white-space: nowrap;
}
.table-responsive > .table-bordered {
  border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}

.import-log th, .import-log td {
 white-space: normal !important;
}

#create-user-form .form-actions{
    padding-left: 250px;
}

.expand {
    height: 1em;
    width: 100%;
    padding: 3px;
}

.dismiss-urgent:hover{
    cursor: pointer;
}

.hidden_part {
    display: none;
}