{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Change Password
            <small>Update your account password here.</small>
        </h2>
    </div>
    <h4>Password change successfull</h4>
    <p>Your password was changed, click here to go back to the main menu <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Done</a></p>
</div>
{% endblock %}
{% block body_js %}
<script type="text/javascript">
    $('#__passchange').addClass("active");
</script>
{% endblock %}