{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Password reset
            <small>Reset your password here.</small>
        </h2>
    </div>
    <h4>Password reset complete</h4>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <p><a href="{{ login_url }}" class="btn btn-primary">Log in</a></p>
</div>
{% endblock %}
{% block body_js %}
<script type="text/javascript">
    $('#__passchange').addClass("active");
</script>
{% endblock %}