{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Password reset
            <small>Reset your password here.</small>
        </h2>
    </div>
    <h4>Your password has been reset successfully</h4>
    We've emailed you instructions for setting your password to the email address you submitted. You should be receiving
    it shortly.
</div>
{% endblock %}
{% block body_js %}
<script type="text/javascript">
    $('#__passchange').addClass("active");
</script>
{% endblock %}