{% extends 'core/base.html' %}
{% block content %}
{% if form.errors %}
{% for key, value in form.errors.items %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{value}}
</div>
{% endfor %}
{% endif %}
<div class="container">
    <div class="page-header">
        <h2>Change Password
            <small>Update your account password here.</small>
        </h2>
    </div>
    <form class="form-horizontal" role="form" method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_old_password" class="col-sm-2 control-label">Old Password</label>
            <div class="col-sm-4">
                <input id="id_old_password" name="old_password" type="password" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="id_new_password1" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-4">
                <input id="id_new_password1" name="new_password1" type="password" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="id_new_password2" class="col-sm-2 control-label">New Password(Again)</label>
            <div class="col-sm-4">
                <input id="id_new_password2" name="new_password2" type="password" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block body_js %}
<script type="text/javascript">
    $('#__passchange').addClass("active");
</script>
{% endblock %}