{% extends 'core/base.html' %}
{% block content %}
{% if form.errors %}
{% for key, value in form.errors.items %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{value}}
</div>
{% endfor %}
{% endif %}
<div class="container">
    <div class="page-header">
        <h2>Password reset
            <small>Reset your password here.</small>
        </h2>
    </div>
    <form class="form-inline" role="form" method="post" action=".">
        {% csrf_token %}
        <p>Forgotten your password? Enter your email address below,
            and we'll email instructions for setting a new one.</p>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input id="id_email" name="email" type="email" class="form-control" required
                       placeholder="Email Address"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Reset my password</button>
    </form>
</div>
{% endblock %}
{% block body_js %}
<script type="text/javascript">
    $('#__passchange').addClass("active");
</script>
{% endblock %}
